:root{
    --theme-color-1:#E91E63;
    --theme-color-2:#fff;
    --theme-color-3:#c70041;
}
.breadcrumb{
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    counter-reset:flag;
}

.breadcrumb_step{
    outline: none;
    display:block;
    float:left;
    font-size: 12px;
    line-height: 36px;
    padding:0 10px 0 60px;
    position: relative;
    background: var(--theme-color-2);
    color:var(--theme-color-1);
    transition:background .4s;
}
.breadcrumb_step:first-child{
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
}
.breadcrumb_step:first-child:before{
    left:14px;
}
.breadcrumb_step:last-child{
    border-radius: 0 5px 5px 0;
    padding-right: 20px;
}
.breadcrumb_step:last-child::after{
    content:none;
}
.breadcrumb_step::before{
    content:counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width:20px;
    height:20px;
    color:var(--theme-color-1);
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left:30px;
    font-weight: bold;
    background: var(--theme-color-2);
    box-shadow: 0 0 0 1px var(--theme-color-1);
}
.breadcrumb_step::after{
    content:"";
    position: absolute;
    top:0;
    right:-18px;
    width:36px;
    height: 36px;
    transform:scale(0.707) rotate(45deg);
    z-index:1;
    border-radius: 0 5px 0 50px;
    background: #fff;
    transition: background 0.4s;
    box-shadow: 2px -2px 0 2px #c70041;
}
.breadcrumb_step:hover,
.breadcrumb_step.active,
.breadcrumb_step:hover::before,
.breadcrumb_step:hover::after,
.breadcrumb_step.active::after{
    background: var(--theme-color-1);
}
.breadcrumb_step:hover,
.breadcrumb_step.active {
    color: var(--theme-color-2)
}
.breadcrumb_step:hover::before{
    background: var(--theme-color-2);
    color: var(--theme-color-1);
}